*{
    background-color: #354f25;
    color:#52796f;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

/* Place holder for ads space */

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
}
.headerlogo{
    height: 60px;
    position: absolute;
    left: 30px;
    background-color: transparent;
    padding-bottom: 10px;

}

body{
    background-color: #354f25;
}


.container{
    display: flex;
    justify-content: center;

}
.card-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px;
    /* border:solid black 2px; */

}
 .card{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 


#header{
    padding:5px;
    padding-bottom: 15px;
    display: flex;
    justify-content:center ;
    width: 100vw;
    text-align: center;
    background-color: darkslategrey;
}

#genres {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

#gaming-news{
    display:flex ;
    justify-content: space-around;
    background-color: darkslategray;
    margin-bottom: 0;
    position: fixed;
    bottom:0;
    padding: 5px;
    padding-top: 0px;
    padding-bottom:10px;
    width: 98vw;
    height: 75px;
}
#gaming-news-header{
    background-color: darkslategray;
    margin-top: 0px;
    order: 0;
    padding-top: 0px;
    
}
.btn-nav{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.nes-btn{
    background-color: #52796f;
}
#placeholder{
    min-height:300px;
    min-width:200px;
    position: relative;
    object-fit: contain;
    right:25px;
}
.footerimg{
    height: 80px;
    flex-direction: row;
}
#vaultboy{
    order:-1;
}
#vaulthunter{
    order:-2;

}
#link{
    width: 80px;
    object-fit: cover;
    order:+2;
}
#bulba{
    background-color: darkslategray;
    order:+1;
}
/* .hide {
    display: none;
} */
@media screen and (max-width: 992px) {
    #placeholder{
        min-height:300px;
        min-width:200px;
        position: relative;
        object-fit: contain;
    }
    .nes-btn{
        width: 15%;
    }
    .genre-card{
        width: 30%;
    }
    .card3{
        display: none;
    }
    #game3 {
        display: none;
    }
    .card4{
        display: none;
    }
    #game4 {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    #placeholder{
        min-height:250px;
        min-width:150px;
        position: relative;
        object-fit: contain;
    }
    .nes-btn{
        width: 25%;
    }
    #genres{
        flex-wrap: wrap;
    }
    .card1 {
        width:55%;
        min-width:220px;
        align-content: center;
        justify-content: center;
}
    #placeholder {
        justify-content: center;
        align-items: center;
        left: 2px;
    }
    .card2 {
        display: none;
    }
    #game2 {
        display: none;
    }
    .card3 {
        display: none;
        
    }
    #game3 {
        display: none;
    }
    .card4 {
        display: none;
    }
    #game4 {
        display: none;
    }
} 
@media screen and (max-width: 576px) {
    #placeholder{
        min-height: 200px;
        min-width:100px;
        position: relative;
        object-fit: contain;
    }
  }